
header{
    border-top: 10px solid #0089D4;
    background: #FFFFFF;
}
footer{
    background: #0089D4;
    min-height: 60px;
}
.job_blue{
    background-color: #0088D4;
}
.row-no-pad{
    clear: both;
    
}
.top-1{
    margin-top: 10px;
}
.top-2{
    margin-top: 15px;
}
.top-3{
    margin-top: 20px;
}
.top-4{
    margin-top: 25px;
}
.bold{
    font-weight: bold;
}

.margin-0{
    margin: 0;
}
.font-white{
    color: #ffffff;
}
.font-blue{
    color: #0089D4;
}
.row-no-padding{
    padding-left:0;
    padding-right:0;
   /* margin-left: -15px;
    margin-right: -15px;*/
}
.arrow-left {
	border-bottom: 35px solid transparent;
    border-right: 47px solid #0088D4;
    height: auto;
    width: 50px;
}
.center{
    text-align: center;
}
.btn-apple {
    background: none repeat scroll 0 0 #8883bc;
    border: 1px solid transparent;
    transition: all 0.2s ease 0s;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 28px 13px;
}

.btn-apple:hover {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #8883bc;
    color: #8883bc;
}
.btn-android {
    background: none repeat scroll 0 0 #6fbf39;
    border: 1px solid transparent;
    transition: all 0.2s ease 0s;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 28px 13px;
}
.btn-android:hover {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #6fbf39;
    color: #6fbf39;
}
.btn-windows {
    background: none repeat scroll 0 0 #00afec;
    border: 1px solid transparent;
    transition: all 0.2s ease 0s;
    border-radius: 0;
    color: #fff;
    font-size: 18px;
    padding: 10px 28px 13px;
}
.btn-windows:hover {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #00afec;
    color: #00afec;
}
.block{
    cursor: pointer;
    margin-bottom: 20px;
}
/*.blue-text-3d{
    color: green;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}*/
.blue-text-3d{
   
	 color:#0090D3;
	 text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb,
	 0 4px 0 #b9b9b9,
	 0 5px 0 #aaa,
	 0 6px 1px rgba(0,0,0,.1),
	 0 0 5px rgba(0,0,0,.1),
	 0 1px 3px rgba(0,0,0,.3),
	 0 3px 5px rgba(0,0,0,.2),
	 0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
	 0 20px 20px rgba(0,0,0,.15);
}
.green-text-3d{
   
	 color:#379BD4;
/*	 text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb,
	 0 4px 0 #b9b9b9,
	 0 5px 0 #aaa,
	 0 6px 1px rgba(0,0,0,.1),
	 0 0 5px rgba(0,0,0,.1),
	 0 1px 3px rgba(0,0,0,.3),
	 0 3px 5px rgba(0,0,0,.2),
	 0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
	 0 20px 20px rgba(0,0,0,.15);*/
}
.red-text-3d{
   
	 color:red;
	 /*text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb,
	 0 4px 0 #b9b9b9,
	 0 5px 0 #aaa,
	 0 6px 1px rgba(0,0,0,.1),
	 0 0 5px rgba(0,0,0,.1),
	 0 1px 3px rgba(0,0,0,.3),
	 0 3px 5px rgba(0,0,0,.2),
	 0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
	 0 20px 20px rgba(0,0,0,.15);*/
}
.white-text-3d{
   
	 color:#000;
	/* text-shadow: 0 1px 0 #ccc,
	 0 2px 0 #c9c9c9,
	 0 3px 0 #bbb,
	 0 4px 0 #b9b9b9,
	 0 5px 0 #aaa,
	 0 6px 1px rgba(0,0,0,.1),
	 0 0 5px rgba(0,0,0,.1),
	 0 1px 3px rgba(0,0,0,.3),
	 0 3px 5px rgba(0,0,0,.2),
	 0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
	 0 20px 20px rgba(0,0,0,.15);*/
}

.socialicon img:hover{
   opacity: .5;
}