<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Test Chat app</name>
    <description>
        Simple XMPP chat with QuickBlox Web SDK
    </description>
    <author email="alex.bass@quickblox.com" href="http://quickblox.com">
        Karthik
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="DisallowOverscroll" value="true" />
    <icon src="icon.png" />
   
    <access origin="*" />
    <content src="index.html" />
	<account-settings>
  <account-id type='integer'>
    24099
  </account-id>
  <api-endpoint>
   https://api.quickblox.com
  </api-endpoint>
  <chat-endpoint>
    chat.quickblox.com
  </chat-endpoint>
  <turnserver-endpoint>
    turnserver.quickblox.com
  </turnserver-endpoint>
  <s3-bucket-name>
    qbprod
  </s3-bucket-name>
</account-settings>
	
</widget>
